In [9]:
import pandas as pd

In [12]:
df3 = pd.DataFrame({'A': ['A'+ str(x) for x in range(8,12)],
'B': ['B'+ str(x) for x in range(8,12)],
'C': ['C'+ str(x) for x in range(8,12)],
'D': ['D'+ str(x) for x in range(8,12)]},
index = [x for x in range(100,104)])
df3

       A    B    C    D
100   A8   B8   C8   D8
101   A9   B9   C9   D9
102  A10  B10  C10  D10
103  A11  B11  C11  D11