In [12]:
#Níveis de Índice
import pandas as pd
import numpy as np
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))

In [13]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [14]:
df = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns=['A','B'])
df

             A         B
G1 1  3.026045  0.262751
   2 -0.099386  1.227041
   3  1.910438  1.981971
G2 1  0.118432 -0.824592
   2 -1.279134  0.245209
   3 -0.225260 -0.734263

In [15]:
df.index.names = ['Grupo','Número']
df

                     A         B
Grupo Número
G1    1       3.026045  0.262751
      2      -0.099386  1.227041
      3       1.910438  1.981971
G2    1       0.118432 -0.824592
      2      -1.279134  0.245209
      3      -0.225260 -0.734263

In [16]:
df.loc['G1'].loc[[1]]

               A         B
Número
1       3.026045  0.262751

In [17]:
df_1 = df.xs(1,level='Número')[['A']]
df_1

              A
Grupo
G1     3.026045
G2     0.118432

In [18]:
df_2 = df.xs('G2',level='Grupo')[['A']]
df_2

               A
Número
1       0.118432
2      -1.279134
3      -0.225260

In [37]:
df.loc['G2'][['A']].sum().round(2)

A   -1.39
dtype: float64

In [38]:
df_1['A'].sum()

np.float64(3.1444772005398387)