In [2]:
#Níveis de Índice
import pandas as pd
import numpy as np
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))

In [3]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
df = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns=['A','B'])
df

             A         B
G1 1 -0.856625 -0.325636
   2  0.110714  0.717563
   3  1.698603 -1.050981
G2 1  0.372867 -0.186719
   2 -0.945208  0.517189
   3  0.331275 -0.397735

In [5]:
df.index.names = ['Grupo','Número']
df

                     A         B
Grupo Número
G1    1      -0.856625 -0.325636
      2       0.110714  0.717563
      3       1.698603 -1.050981
G2    1       0.372867 -0.186719
      2      -0.945208  0.517189
      3       0.331275 -0.397735

In [9]:
df.loc['G1'].loc[2]

A    0.110714
B    0.717563
Name: 2, dtype: float64

In [15]:
df_2 = df.xs('G1',level='Grupo')[['A']]
df_2

               A
Número
1      -0.856625
2       0.110714
3       1.698603

In [17]:
df_2 = df.xs(3,level='Número')[['B']]
df_2

              B
Grupo
G1    -1.050981
G2    -0.397735