In [21]:
import pandas as pd
df = pd.read_csv('supermarket_sales.csv',sep=';',decimal=',')

Qual o Faturamento total por filial?

In [63]:
df_agrupado_cidade = df.groupby("City")["Total"].sum().round(2)
print(df_agrupado_cidade)

City
Mandalay     106197.67
Naypyitaw    110568.71
Yangon       106200.37
Name: Total, dtype: float64

Qual o percentual de participação de receita de cada tipo de produto?

In [64]:
df_agrupado_tipo_produto = df.groupby("Product line")["Total"].sum()
soma_total = df_agrupado_tipo_produto.sum()
percentual_tipo_produto = (df_agrupado_tipo_produto / soma_total).sort_values() *100
print(percentual_tipo_produto)

Product line
Health and beauty         15.231828
Home and lifestyle        16.677232
Fashion accessories       16.814702
Electronic accessories    16.824497
Sports and travel         17.067648
Food and beverages        17.384094
Name: Total, dtype: float64

Como está distribuído o tipo de produto consumido por genero?

In [65]:
df_agrupado_genero_tipo_produto = df.groupby(["Product line","Gender"])["Total"].sum()
print(df_agrupado_genero_tipo_produto)

Product line            Gender
Electronic accessories  Female    27102.0225
                        Male      27235.5090
Fashion accessories     Female    30437.4000
                        Male      23868.4950
Food and beverages      Female    33170.9175
                        Male      22973.9265
Health and beauty       Female    18560.9865
                        Male      30632.7525
Home and lifestyle      Female    30036.8775
                        Male      23825.0355
Sports and travel       Female    28574.7210
                        Male      26548.1055
Name: Total, dtype: float64

In [66]:
df_agrupado_genero_tipo_produto = df.groupby(["Product line","Gender"])[["Total"]].sum().pivot_table(index='Product line', columns='Gender')
print(df_agrupado_genero_tipo_produto)

                             Total
Gender                      Female        Male
Product line
Electronic accessories  27102.0225  27235.5090
Fashion accessories     30437.4000  23868.4950
Food and beverages      33170.9175  22973.9265
Health and beauty       18560.9865  30632.7525
Home and lifestyle      30036.8775  23825.0355
Sports and travel       28574.7210  26548.1055

Qual foi o faturamento por mês?

In [67]:
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].apply(lambda x: x.month)
df['Year'] = df['Date'].apply(lambda x: x.year)

In [68]:
df_faturamento_mes = df.groupby('Month')['Total'].sum()
print(df_faturamento_mes)

Month
1    116291.868
2     97219.374
3    109455.507
Name: Total, dtype: float64

Qual foi a média de avaliação por cada filial em janeiro de 2019?

In [69]:
df_rating_jan_2019 = df[(df['Year'] == 2019) &  (df['Month'] == 1)]['Rating'].mean()
print(df_rating_jan_2019)

7.017613636363635

Como se distribui o gasto por tipo de consumidor em cada filial?

In [70]:
df_ct_filial = df.groupby(['Customer type','City'])[['Total']].sum().pivot_table(index='City', columns= 'Customer type')
print(df_ct_filial)

                    Total
Customer type      Member     Normal
City
Mandalay       53704.6860  52492.986
Naypyitaw      56881.2825  53687.424
Yangon         53637.4755  52562.895