In [4]:
import pandas as pd
df = pd.read_csv('supermarket_sales.csv',sep=';',decimal=',')

Qual o Faturamento total por filial?

In [5]:
fat_filial = df.groupby('City')['Total'].sum()
print(fat_filial)

City
Mandalay     106197.6720
Naypyitaw    110568.7065
Yangon       106200.3705
Name: Total, dtype: float64

Qual o percentual de participação de receita de cada tipo de produto?

In [ ]:
total_tp = df.groupby('Product line')['Total'].sum()
total_general = df['Total'].sum()
print(total_tp)

Product line
Electronic accessories    54337.5315
Fashion accessories       54305.8950
Food and beverages        56144.8440
Health and beauty         49193.7390
Home and lifestyle        53861.9130
Sports and travel         55122.8265
Name: Total, dtype: float64

In [15]:
percent_tp = (total_tp / total_general).sort_values() * 100
print(percent_tp)

Product line
Health and beauty         15.231828
Home and lifestyle        16.677232
Fashion accessories       16.814702
Electronic accessories    16.824497
Sports and travel         17.067648
Food and beverages        17.384094
Name: Total, dtype: float64

Como está distribuído o tipo de produto consumido por genero e por filial?

In [ ]:
df['City-Gender'] = df['City'] +'-' + df['Gender']
tp_gender = df.groupby(['Product line', 'City-Gender'])[['Total']].sum().unstack('City-Gender')
print(tp_gender)

                                 Total                                 \
City-Gender            Mandalay-Female Mandalay-Male Naypyitaw-Female
Product line
Electronic accessories       8166.5115     8884.9320        8969.2155
Fashion accessories          9081.4920     7331.8245       11519.6865
Food and beverages          10509.9960     4704.8925       15661.1595
Health and beauty            6400.3485    13580.3115        6445.7400
Home and lifestyle           9557.1315     7992.0330        7842.9330
Sports and travel            9212.8155    10775.3835       11246.7285


City-Gender            Naypyitaw-Male Yangon-Female Yangon-Male
Product line
Electronic accessories      9999.7590     9966.2955   8350.8180
Fashion accessories        10040.3835     9836.2215   6496.2870
Food and beverages          8105.6955     6999.7620  10163.3385
Health and beauty          10169.5860     5714.8980   6882.8550
Home and lifestyle          6052.6200    12636.8130   9780.3825
Sports and travel           4515.1995     8115.1770  11257.5225

Qual foi o faturamento por mês?

In [32]:
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].apply(lambda x: x.month)
fat_mensal = df.groupby('Month')['Total'].sum()
print(fat_mensal)

Month
1    116291.868
2     97219.374
3    109455.507
Name: Total, dtype: float64

Qual foi a média de avaliação por cada filial em janeiro de 2019?

In [ ]:
df['Year'] = df['Date'].apply(lambda x: x.year)
df_jan_2019 = df[(df['Year'] ==2019) & (df['Month'] == 1)]['Rating'].mean()
print(df_jan_2019)

7.017613636363635

Como se distribui o gasto por tipo de consumidor e seu gênero em cada filial?

In [44]:
ct_gender_city = df.groupby(['Customer type','City-Gender'])[['Total']].sum().unstack('City-Gender')
print(ct_gender_city)

                        Total                                                \
City-Gender   Mandalay-Female Mandalay-Male Naypyitaw-Female Naypyitaw-Male
Customer type
Member              26850.432     26854.254        34653.444     22227.8385
Normal              26077.863     26415.123        27032.019     26655.4050


City-Gender   Yangon-Female Yangon-Male
Customer type
Member           26643.0675  26994.4080
Normal           26626.0995  25936.7955