## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [154]:
import pandas as pd

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [155]:
df_2000 = pd.read_csv('gasolina_2000+.csv')
df_2010 = pd.read_csv('gasolina_2010+.csv')
df_consolidado = pd.concat([df_2000,df_2010])
df_consolidado

C:\Users\CardoAnd03\AppData\Local\Temp\ipykernel_19280\3977874449.py:2: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2010 = pd.read_csv('gasolina_2010+.csv')

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78180,120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78181,120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78182,120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78183,120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78184,120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [156]:
df_consolidado.tail(10)

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
78175,120813,2021-04-25,2021-05-01,NORDESTE,PIAUI,OLEO DIESEL S10,36,R$/l,4.382,0.172,3.999,4.897,-99999.0,0.039,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78176,120814,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,OLEO DIESEL S10,155,R$/l,4.302,0.172,3.930,4.699,-99999.0,0.040,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78177,120815,2021-04-25,2021-05-01,NORDESTE,RIO GRANDE DO NORTE,OLEO DIESEL S10,24,R$/l,4.699,0.101,4.490,4.890,-99999.0,0.021,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78178,120816,2021-04-25,2021-05-01,SUL,RIO GRANDE DO SUL,OLEO DIESEL S10,148,R$/l,4.140,0.236,3.849,4.949,-99999.0,0.057,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78179,120817,2021-04-25,2021-05-01,NORTE,RONDONIA,OLEO DIESEL S10,30,R$/l,4.503,0.157,4.250,4.799,-99999.0,0.035,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78180,120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78181,120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78182,120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78183,120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78184,120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [157]:
df_consolidado.info

<bound method DataFrame.info of        Unnamed: 0 DATA INICIAL  DATA FINAL        REGIÃO              ESTADO  \
0               0   2004-05-09  2004-05-15  CENTRO OESTE    DISTRITO FEDERAL
1               1   2004-05-09  2004-05-15  CENTRO OESTE               GOIAS
2               2   2004-05-09  2004-05-15  CENTRO OESTE         MATO GROSSO
3               3   2004-05-09  2004-05-15  CENTRO OESTE  MATO GROSSO DO SUL
4               4   2004-05-09  2004-05-15      NORDESTE             ALAGOAS
...           ...          ...         ...           ...                 ...
78180      120818   2021-04-25  2021-05-01         NORTE             RORAIMA
78181      120819   2021-04-25  2021-05-01           SUL      SANTA CATARINA
78182      120820   2021-04-25  2021-05-01       SUDESTE           SAO PAULO
78183      120821   2021-04-25  2021-05-01      NORDESTE             SERGIPE
78184      120822   2021-04-25  2021-05-01         NORTE           TOCANTINS

                PRODUTO  NÚMERO DE POSTOS PESQUISADOS UNIDADE DE MEDIDA  \
0      ETANOL HIDRATADO                           127              R$/l
1      ETANOL HIDRATADO                           387              R$/l
2      ETANOL HIDRATADO                           192              R$/l
3      ETANOL HIDRATADO                           162              R$/l
4      ETANOL HIDRATADO                           103              R$/l
...                 ...                           ...               ...
78180   OLEO DIESEL S10                            12              R$/l
78181   OLEO DIESEL S10                           100              R$/l
78182   OLEO DIESEL S10                           886              R$/l
78183   OLEO DIESEL S10                            33              R$/l
78184   OLEO DIESEL S10                            18              R$/l

       PREÇO MÉDIO REVENDA  DESVIO PADRÃO REVENDA  PREÇO MÍNIMO REVENDA  \
0                    1.288                  0.016                 1.190
1                    1.162                  0.114                 0.890
2                    1.389                  0.097                 1.180
3                    1.262                  0.070                 1.090
4                    1.181                  0.078                 1.050
...                    ...                    ...                   ...
78180                4.582                  0.056                 4.510
78181                4.141                  0.187                 3.838
78182                4.246                  0.216                 3.769
78183                4.464                  0.205                 4.190
78184                4.352                  0.156                 4.199

       PREÇO MÁXIMO REVENDA MARGEM MÉDIA REVENDA  COEF DE VARIAÇÃO REVENDA  \
0                     1.350                0.463                     0.012
1                     1.449                0.399                     0.098
2                     1.760                0.419                     0.070
3                     1.509                0.432                     0.055
4                     1.400                 0.24                     0.066
...                     ...                  ...                       ...
78180                 4.690             -99999.0                     0.012
78181                 4.739             -99999.0                     0.045
78182                 5.199             -99999.0                     0.051
78183                 4.699             -99999.0                     0.046
78184                 4.699             -99999.0                     0.036

      PREÇO MÉDIO DISTRIBUIÇÃO DESVIO PADRÃO DISTRIBUIÇÃO  \
0                        0.825                       0.11
1                        0.763                      0.088
2                         0.97                      0.095
3                         0.83                      0.119
4                        0.941                      0.077
...                        ...                        ...
78180                 -99999.0                   -99999.0
78181                 -99999.0                   -99999.0
78182                 -99999.0                   -99999.0
78183                 -99999.0                   -99999.0
78184                 -99999.0                   -99999.0

      PREÇO MÍNIMO DISTRIBUIÇÃO PREÇO MÁXIMO DISTRIBUIÇÃO  \
0                        0.4201                    0.9666
1                        0.5013                      1.05
2                        0.5614                     1.161
3                        0.5991                   1.22242
4                        0.7441                    1.0317
...                         ...                       ...
78180                  -99999.0                  -99999.0
78181                  -99999.0                  -99999.0
78182                  -99999.0                  -99999.0
78183                  -99999.0                  -99999.0
78184                  -99999.0                  -99999.0

      COEF DE VARIAÇÃO DISTRIBUIÇÃO
0                             0.133
1                             0.115
2                             0.098
3                             0.143
4                             0.082
...                             ...
78180                      -99999.0
78181                      -99999.0
78182                      -99999.0
78183                      -99999.0
78184                      -99999.0

[120823 rows x 19 columns]>

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [158]:
df_consolidado

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78180,120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78181,120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78182,120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78183,120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78184,120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [159]:
df_consolidado.loc[3,'DATA INICIAL']

3    2004-05-09
3    2011-01-02
Name: DATA INICIAL, dtype: object

In [160]:
df_consolidado.iloc[1:2]

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115

In [161]:
data_inicial = pd.DataFrame(df_consolidado['DATA INICIAL'])
data_inicial

      DATA INICIAL
0       2004-05-09
1       2004-05-09
2       2004-05-09
3       2004-05-09
4       2004-05-09
...            ...
78180   2021-04-25
78181   2021-04-25
78182   2021-04-25
78183   2021-04-25
78184   2021-04-25

[120823 rows x 1 columns]

In [162]:
data_inicial.iloc[2]

DATA INICIAL    2004-05-09
Name: 2, dtype: object

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [163]:
df_consolidado['DATA INICIAL'] = pd.to_datetime(df_consolidado['DATA INICIAL'])
df_consolidado['DATA FINAL'] = pd.to_datetime(df_consolidado['DATA FINAL'])

In [164]:
df_consolidado.iloc[1:2]

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115

In [165]:
df_consolidado['DATA INICIAL'].iloc[2]

Timestamp('2004-05-09 00:00:00')

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [166]:
df_consolidado['DATA FINAL_ANO_MES'] = df_consolidado['DATA FINAL'].apply(lambda x: str(x.year) + '-' + str(x.month))
df_consolidado

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,DATA FINAL_ANO_MES
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,2004-5
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,2004-5
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,2004-5
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,2004-5
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,2004-5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78180,120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5
78181,120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5
78182,120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5
78183,120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5
78184,120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [167]:
df_tipoproduto = pd.DataFrame(df_consolidado['PRODUTO'].value_counts())
df_tipoproduto

                    count
PRODUTO
GASOLINA COMUM      23570
GLP                 23561
ETANOL HIDRATADO    23440
ÓLEO DIESEL         21194
GNV                 14469
ÓLEO DIESEL S10      9113
OLEO DIESEL S10      2376
OLEO DIESEL          2351
GASOLINA ADITIVADA    749

In [168]:
df_tipoproduto.drop('count',axis=1,inplace=True)
df_tipoproduto.reset_index()

              PRODUTO
0      GASOLINA COMUM
1                 GLP
2    ETANOL HIDRATADO
3         ÓLEO DIESEL
4                 GNV
5     ÓLEO DIESEL S10
6     OLEO DIESEL S10
7         OLEO DIESEL
8  GASOLINA ADITIVADA

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [169]:
df_gas_comum = df_consolidado[df_consolidado['PRODUTO'] == 'GASOLINA COMUM']
df_gas_comum

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,DATA FINAL_ANO_MES
9256,12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-5
9257,12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-5
9258,12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-5
9259,12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-5
9260,12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78083,120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5
78084,120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5
78085,120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5
78086,120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5
78087,120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [170]:
df_gas_comum[df_gas_comum['DATA FINAL_ANO_MES'] == '2008-8'].groupby('DATA FINAL_ANO_MES')[['PREÇO MÉDIO REVENDA']].mean()

                    PREÇO MÉDIO REVENDA
DATA FINAL_ANO_MES
2008-8                         2.601244

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [171]:
df_sp_maio = df_gas_comum[(df_gas_comum['DATA FINAL_ANO_MES'] == '2014-5') & (df_gas_comum['ESTADO'] == 'SAO PAULO')].groupby(['DATA FINAL_ANO_MES','ESTADO'])[['PREÇO MÉDIO REVENDA']].mean()
df_sp_maio

                              PREÇO MÉDIO REVENDA
DATA FINAL_ANO_MES ESTADO
2014-5             SAO PAULO               2.8822

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [172]:
df_gas_maior_5 = df_gas_comum[df_gas_comum['PREÇO MÉDIO REVENDA'] > 5]
df_gas_maior_5 = df_gas_maior_5[['ESTADO','PREÇO MÉDIO REVENDA','DATA FINAL_ANO_MES']]
df_gas_maior_5 = df_gas_maior_5.groupby(['ESTADO','DATA FINAL_ANO_MES'])[['PREÇO MÉDIO REVENDA']].mean()
df_gas_maior_5

                              PREÇO MÉDIO REVENDA
ESTADO    DATA FINAL_ANO_MES
ACRE      2018-10                         5.35350
          2018-11                         5.21975
          2018-12                         5.03300
          2018-5                          5.05300
          2018-6                          5.03580
...                                           ...
TOCANTINS 2021-1                          5.02000
          2021-2                          5.24850
          2021-3                          5.78475
          2021-4                          5.74375
          2021-5                          5.75100

[129 rows x 1 columns]

### 11. Qual a média de preço dos estados da região sul em 2012?

In [173]:
df_sul_2012 = df_consolidado[(df_consolidado['REGIÃO']=='SUL') & (df_consolidado['DATA FINAL_ANO_MES'].str.contains('2012',case=False,na=False))].groupby('ESTADO')[['PREÇO MÉDIO REVENDA']].mean().round(2) # fight
df_sul_2012

                   PREÇO MÉDIO REVENDA
ESTADO
PARANA                            9.51
RIO GRANDE DO SUL                 9.81
SANTA CATARINA                   10.21

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [178]:
import locale
locale.setlocale(locale.LC_TIME, 'pt_BR.UTF-8')
df_rj = df_consolidado[df_consolidado['ESTADO']=='RIO DE JANEIRO']
df_rj['nome_mes'] = df_rj['DATA FINAL'].dt.month_name(locale='pt_BR.UTF-8')
df_rj

C:\Users\CardoAnd03\AppData\Local\Temp\ipykernel_19280\2835050036.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rj['nome_mes'] = df_rj['DATA FINAL'].dt.month_name(locale='pt_BR.UTF-8')

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,DATA FINAL_ANO_MES,nome_mes
22,22,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,952,R$/l,1.098,0.154,...,1.890,0.312,0.140,0.786,0.173,0.326,1.263,0.22,2004-5,Maio
49,49,2004-05-16,2004-05-22,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,948,R$/l,1.092,0.157,...,1.499,0.284,0.144,0.808,0.175,0.3257,1.2921,0.217,2004-5,Maio
76,76,2004-05-23,2004-05-29,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,973,R$/l,1.103,0.140,...,1.589,0.281,0.127,0.822,0.166,0.38909,1.1859,0.202,2004-5,Maio
103,103,2004-05-30,2004-06-05,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,955,R$/l,1.149,0.156,...,1.599,0.3,0.136,0.849,0.188,0.3453,1.3667,0.221,2004-6,Junho
130,130,2004-06-06,2004-06-12,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,966,R$/l,1.165,0.154,...,1.599,0.254,0.132,0.911,0.198,0.4,1.3667,0.217,2004-6,Junho
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78079,120717,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,198,R$/l,6.099,0.208,...,6.599,-99999.0,0.034,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5,Maio
78106,120744,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,GLP,137,R$/13Kg,75.218,5.398,...,93.000,-99999.0,0.072,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5,Maio
78125,120763,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,GNV,77,R$/m3,3.011,0.385,...,4.399,-99999.0,0.128,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5,Maio
78149,120787,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,OLEO DIESEL,72,R$/l,4.290,0.183,...,4.599,-99999.0,0.043,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5,Maio
78176,120814,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,OLEO DIESEL S10,155,R$/l,4.302,0.172,...,4.699,-99999.0,0.040,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5,Maio

In [179]:
df_rj['PRODUTO'] = df_rj['PRODUTO'].str.replace('OLEO', 'ÓLEO', regex=True)

df_rj['ANO'] = df_rj['DATA FINAL_ANO_MES'].str[:4]
df_rj = df_rj.groupby(['PRODUTO','ANO'])[['PREÇO MÉDIO REVENDA']].mean().pct_change().fillna(1).round(2) # fight
# df_rj =  df_rj.groupby('PRODUTO')[['PREÇO MÉDIO REVENDA']]
df_rj

C:\Users\CardoAnd03\AppData\Local\Temp\ipykernel_19280\272583846.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rj['PRODUTO'] = df_rj['PRODUTO'].str.replace('OLEO', 'ÓLEO', regex=True)
C:\Users\CardoAnd03\AppData\Local\Temp\ipykernel_19280\272583846.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rj['ANO'] = df_rj['DATA FINAL_ANO_MES'].str[:4]

                       PREÇO MÉDIO REVENDA
PRODUTO          ANO
ETANOL HIDRATADO 2004                 1.00
                 2005                 0.16
                 2006                 0.20
                 2007                -0.10
                 2008                -0.01
...                                    ...
ÓLEO DIESEL S10  2017                 0.05
                 2018                 0.09
                 2019                 0.00
                 2020                -0.04
                 2021                 0.15

[101 rows x 1 columns]

In [175]:
df_rj.rename(columns={'PREÇO MÉDIO REVENDA':'VARIAÇÃO PERCENTUAL'},inplace=True)
df_rj.fillna(0)

                       VARIAÇÃO PERCENTUAL
PRODUTO          ANO
ETANOL HIDRATADO 2004                 1.00
                 2005                 0.16
                 2006                 0.20
                 2007                -0.10
                 2008                -0.01
...                                    ...
ÓLEO DIESEL S10  2017                 0.05
                 2018                 0.09
                 2019                 0.00
                 2020                -0.04
                 2021                 0.15

[101 rows x 1 columns]

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.